[submodule "bukkit"]
	path = bukkit
	url = https://hub.spigotmc.org/stash/scm/spigot/bukkit.git

[submodule "MinecraftForge"]
	path = MinecraftForge
	url = https://github.com/MinecraftForge/MinecraftForge.git
	branch = 1.11.x
